In [37]:
import pandas as pd

In [38]:
coach_df = pd.read_csv("./csv/coach_data_prepared_for_ml.csv", sep="\t", encoding="utf-8")

In [39]:
coach_df

                      Race        Opponent Race  Rank Difference  Seat  Result
0       Necromantic Horror                Slann            -6.15     1       0
1                   Nurgle  Underworld Denizens            14.21     1       0
2                     Ogre   Necromantic Horror            42.54     0       0
3       Necromantic Horror             Wood Elf           -53.13     0       0
4                   Amazon           Tomb Kings           -10.33     1       1
...                    ...                  ...              ...   ...     ...
117849  Old World Alliance           Tomb Kings            10.00     1       0
117850          Tomb Kings   Old World Alliance           -10.00     0       1
117851   Imperial Nobility               Skaven            83.68     1       0
117852              Goblin                  Orc           -15.77     0       1
117853           Black Orc            Elf Union            32.17     1       0

[117854 rows x 5 columns]

In [40]:
coach_df[["Race", "Opponent Race"]].describe()

          Race Opponent Race
count   117854        117854
unique      32            32
top        Orc           Orc
freq      8007          8007