In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../../data/knn_recommendations/ratings.csv', dtype={"user_id": str, "item_id": str })

df

        user_id   item_id  rating
0      07751395  16907189       1
1      07751395  10483344       1
2      07751395  20941049       1
3      07751395  02743910       1
4      07751395  16523905       1
...         ...       ...     ...
78168  12052666  17532031       1
78169  12052666  11001969       1
78170  04799011  15297114       1
78171  04799011  09535330       1
78172  04799011  18318438       1

[78173 rows x 3 columns]

In [10]:
num_users = len(df.user_id.unique())
num_items = len(df.item_id.unique())
print(f"{num_users} unique users")
print(f"{num_items} unique items")

7535 unique users
500 unique items

In [13]:
df_popularity = pd.DataFrame(df.groupby('item_id').size(), columns=['count']).sort_values(by=['count'], ascending=False)
df_popularity

          count
item_id
18106995    205
21053004    187
16826499    186
17532031    185
02556503    185
...         ...
10453305    128
15417688    127
13203158    126
19557170    126
16593134    119

[500 rows x 1 columns]