In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_parquet('../../data/knn_recommendations/popularity.parquet')

df

            id                                              likes
0     07751395  [02929242, 16907189, 10190938, 11996867, 19278...
1     13756526  [09123285, 19547060, 13360348, 16401862, 15447...
2     05917982  [09575563, 10849133, 13200374, 01722046, 16191...
3     02906549  [18636923, 19384071, 16727965, 15710670, 16827...
4     12110629  [09537469, 10436152, 16593134, 19547060, 06586...
...        ...                                                ...
7899  19592066  [13225396, 08420602, 21107768, 12056086, 21091...
7900  19087204  [18539836, 10140012, 17834930, 20179979, 21021...
7901  09231323  [16579815, 16471268, 08628006, 02886285, 21063...
7902  12052666  [20134388, 15394959, 02824056, 09648613, 18233...
7903  04799011  [02880739, 15768663, 19073271, 18888666, 20155...

[7904 rows x 2 columns]