In [2]:
import pandas as pd

In [3]:
filename = './test_data/events.json'

events_df = pd.read_json(filename)

events_df

,transaction_id,type,term,results,id
0,9e4bdbef-86fe-4ace-aa61-d29a64bbb5f4,SEARCH,omnis,NaN,NaN
1,9e4bdbef-86fe-4ace-aa61-d29a64bbb5f4,SEARCH_RESULTS,NaN,"[X00034, X00084, X00009, X00071]",NaN
2,9e4bdbef-86fe-4ace-aa61-d29a64bbb5f4,REPORT_VIEW,NaN,NaN,X00022
3,9e4bdbef-86fe-4ace-aa61-d29a64bbb5f4,REPORT_VIEW,NaN,NaN,X00084
4,067bf59a-2f53-459b-8ad0-2cb4a9639519,SEARCH,quasi,NaN,NaN
...,...,...,...,...,...
231,4305a0aa-6a4f-4cec-b4ab-cefdbc1e0f9c,SEARCH,facilis,NaN,NaN
232,4305a0aa-6a4f-4cec-b4ab-cefdbc1e0f9c,SEARCH_RESULTS,NaN,"[X00061, X00026, X00036]",NaN
233,4305a0aa-6a4f-4cec-b4ab-cefdbc1e0f9c,REPORT_VIEW,NaN,NaN,X00061
234,8b34dc05-b947-4433-a733-b71eed9ed0b1,SEARCH,eius,NaN,NaN
235,730e4524-bc6b-4068-869a-5194ff9e4c2d,SEARCH,ratione,NaN,NaN